.error-message {
  border: none;
  text-align: left;
  padding-left: 0.7rem;
  // background-color: rgba(255, 0, 0, 0.1);
  color: #dc3545;
  border-radius: 4px;
  margin-left: -12px;
  font-size: 0.875em;
  display: none;
  &--show {
    display: block;
  }
}
