.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(#0dcaf0, 0.05);

  &__content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    font-size: 50px;
    z-index: 999;
  }
}
