.sign-in {
  height: 100%;
  &__form {
    max-width: 25rem !important;
    margin: 2rem auto 1rem auto;
  }
  &__title {
    margin: 5rem 0;
    text-align: center;
    color: var(--bs-info);
    font-weight: bold;
  }

  &__register-link {
    text-align: center;
    a {
      transition: all 200ms ease-in-out;
      text-decoration: none;
      &:hover {
        color: var(--bs-cyan);
      }
    }
  }
}
